@charset "UTF-8";
/* CSS Document */
/* Medios para pantallas pequeñas */
@media screen and (max-width:600px) {
	
	
	.anuncio {
	width: 300px; height:600px; background-color: white; }
	
	#desktop-nav {
		display: none;
		}
	
#hamburger-nav {
		
       display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        position: relative;   }
	
	
.hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	height: auto;
        cursor: pointer;
        z-index: 1000;
    }
	
	
   

	.menu-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .menu-links.open {
        display: block;
    }

    .menu-links li {
        list-style: none;
        padding: 10px 0;
        text-align: center;
    }

    .menu-links a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }


.logo {
    font-family: 'CooperHewitt', sans-serif;
	font-size:3em ;
    font-weight: bold;
    color: #000;
	 letter-spacing: 0.01em;
}




/* Grilla de imágenes */
.image-grid {
    display: inline;
    margin-top: 20px;
}


.image-grid2 {
    display: inline;
    margin-top: 20px;
}


.image-grid3 {
    display: inline;
    margin-top: 20px;
}


.image-item {
    width: 50%;
    max-width: 100px;
}

.image-item2 {
    width: 50%;
    max-width: 100px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container {
	display: flex;
    grid-gap:20px;
    justify-content: center;
    margin-top: 20px;
}

.image-description {
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 6px;
    line-height: 1;
}


	

	
	  .iframe-advertisement {
        width: 300px;
        height: 600px;
    }

	
   

  
    /* Ajuste del contenedor de la biografía para disposición vertical */
    .container4 {
        display: flex;
        flex-direction: column; /* Coloca el texto encima de la imagen */
        align-items: center;
        padding: 10px;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    /* Asegura que el texto esté encima de la imagen y centrado */
    .bio-text {
        font-size: 0.9rem; /* Tamaño de fuente reducido para móviles */
        line-height: 1.4;
        padding: 10px; /* Espaciado interno */
        margin: 0 0 15px 0; /* Margen inferior para separar el texto de la imagen */
        text-align: center; /* Centra el texto */
        box-sizing: border-box;
        order: -1; /* Mueve el texto encima de la imagen */
    }

    /* Ajusta la imagen para pantallas pequeñas */
    .bio-image {
        width: 100%; /* Imagen ocupa todo el ancho disponible */
        max-width: 290px; /* Ancho máximo de la imagen en móviles */
        margin: 0 auto; /* Centra la imagen */
    }

    /* Contenedor del slider */
    .swiper-container {
        padding: 0; /* Elimina padding lateral */
        overflow: hidden; /* Asegura que no haya desplazamiento lateral */
    }

    .swiper-slide {
        display: flex;
        flex-direction: column; /* Coloca texto e imagen en columna */
        padding: 10px;
        align-items: center;
    }

    /* Botones del slider en pantallas pequeñas */
    .swiper-button-next, .swiper-button-prev {
        color: #000;
        width: 20px;
        height: 20px;
    }
}


@media screen and (min-width:600px) {
	
	 .anuncio {
	width: 728px; height: 90px; background-color: white; }
	
	.logo {
    font-family: 'CooperHewitt', sans-serif;
	font-size:5em ;
    font-weight: bold;
    color: #000;
	 letter-spacing: 0.01em;
}
	
	
	
	
	.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    grid-gap: 10px;
    margin-top: 20px;
}
	
	.image-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    grid-gap: 10px;
    margin-top: 20px;
}
	
	.image-grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    grid-gap: 10px;
    margin-top: 20px;
}
	
	
	

.image-item {
    width: 100%;
    max-width: 200px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.image-description {
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 6px;
    line-height: 1;
}
}

 